body{
    background-image: url(torero.jpg);
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
}

.club-name {
    font-weight: bolder;
}

#s1, #s2, #s3, #s4{
    height:100vh;
    padding: 20px;
    color: white;
}

footer {
    color: black;
}

#desc {
    margin-top: 5em;
    width: 80%;
    margin: 5em auto 0 auto;
}